<script setup lang="ts">
import { useConfig } from '@/store';
import RecorderWidget from './RecorderWidget.vue';



/** Config Store */
const configStore = useConfig();
</script>

<template>
  <!-- Toggle Dark mode -->

  <recorder-widget>
  </recorder-widget>



</template>
