<script setup lang="ts">
  import { computed, ref } from 'vue'
  import { useDeviceStore } from '@/store/DeviceStore';
  import MotorRow from '@/components/MotorRow.vue'
import LightRow from './LightRow.vue';
import SwitchRow from './SwitchRow.vue';



  const props = defineProps({
  deviceId: String
});

let deviceId : string;
if (props.deviceId) { deviceId = props.deviceId}

const deviceStore = useDeviceStore();
const motor = computed(() => deviceStore.device_map[deviceId]);


</script>


<template>
  <MotorRow v-if="motor.type === 'motor'" :deviceId="motor.mqtt_id"></MotorRow>
  <LightRow v-if="motor.type === 'light'" :deviceId="motor.mqtt_id"></LightRow>
  <SwitchRow v-if="motor.type === 'switch'" :deviceId="motor.mqtt_id"></SwitchRow>
</template>



<style scoped>
  /* Additional styling if needed */
</style>
@/composables/MotorCommander