<script setup lang="ts">
  import { ref, reactive } from 'vue'
  import { useDeviceStore } from '@/store/DeviceStore';
    import LightDetailsRow from './LightDetailsRow.vue';
    import MotorDetailsRow from './MotorDetailsRow.vue';
    import { useDeviceCommander } from '@/composables/DeviceCommander';
    import  useGlobalStore  from '@/store/GlobalStore';
    import SwitchDetailsRow from './SwitchDetailsRow.vue';

  const props = defineProps({
  deviceId: String
});


const globalStore = useGlobalStore()
const { updateDevice, deleteDevice } = useDeviceCommander();
const deviceStore = useDeviceStore();
const device = deviceStore.device_map[props.deviceId!];

let toPut = reactive({
    "name" : device.name,
    "description" : device.description,
    "group" : device.group,
    "tag" : device.tag,
    "position_x" : device.position_x,
    "position_y" : device.position_y,
})

function validateNumber(v:string) {
        let n = parseInt(v)
        if (Number.isNaN(n)) {
            console.log(v)
            return "Only numbers allowed"
        }
        return true;
    }
    const uploadButtonColor = ref("")

    function pressUpload() {
    updateDevice(device.mqtt_id, toPut, 
        (response) => {uploadButtonColor.value = "#4A90E2"; console.log(response); setTimeout(() => uploadButtonColor.value = "", 500)},
        (err) => {uploadButtonColor.value = "#E94E77"; console.error(err); setTimeout(() => uploadButtonColor.value = "", 800)}
        )
}

function pressDelete() {
    

    if (deleteClickedCounter.value === 0) { 
      deleteButtonColor.value = 'orange'; 
      deleteClickedCounter.value += 1;
      setTimeout(()=>{deleteClickedCounter.value=0;deleteButtonColor.value = '';}, 1000)
    } else if (deleteClickedCounter.value === 1) { 
      deleteButtonColor.value = '#E94E77'; 
      deleteDevice(device.mqtt_id); 
      setTimeout(()=> {notDeleted.value = false}, 800)
    }
}
const deleteClickedCounter = ref(0)
const notDeleted = ref(true)
const deleteButtonColor = ref("")

</script>


<template>

<v-container class="py-1" v-if="notDeleted">
   <v-card>
      <v-row class="pa-1">

        <v-col class="text-center text-h6" cols="1" align-self="center">
            {{ device.mqtt_id }}
        </v-col>

        <v-col cols="1"><v-spacer>

</v-spacer></v-col>


        <v-col class="pr-1" cols="2" align-self="center">
            <v-text-field 
                        v-model="toPut['group']" 
                        label="group" 
                        class="flex-grow-1 mr-2" 
                        variant="solo" 
                        />
        </v-col>
        <v-col class="pr-1" cols="2" align-self="center">
            <v-text-field 
                        v-model="toPut['name']" 
                        label="name" 
                        class="flex-grow-1 mr-2" 
                        variant="solo" 
                        />
        </v-col>

        <v-col cols="3"><v-spacer>

        </v-spacer></v-col>

        <v-col cols="1">
          <v-btn icon="mdi-delete" small :color="deleteButtonColor" @click="pressDelete()"></v-btn>
        </v-col>

        <v-col cols="1">
          
            <v-btn icon="mdi-upload" :color="uploadButtonColor" @click="pressUpload()">

            </v-btn>
        </v-col>

      </v-row>




  <MotorDetailsRow v-if="device.type === 'motor'" :deviceId="device.mqtt_id"></MotorDetailsRow>
  <LightDetailsRow v-if="device.type === 'light'" :deviceId="device.mqtt_id"></LightDetailsRow>
  <SwitchDetailsRow v-if="device.type === 'switch'" :deviceId="device.mqtt_id"></SwitchDetailsRow>
</v-card>
</v-container>
</template>



<style scoped>
  /* Additional styling if needed */
</style>
@/composables/MotorCommander