<script setup lang="ts">
  
  
  
  import { useDeviceStore } from '@/store/DeviceStore';
  import DeviceRow from '@/components/DeviceRow.vue'
  import GroupHeader from '@/components/GroupHeader.vue'
  import { useMotorCommander } from '@/composables/MotorCommander';
  import type {Ref} from 'vue';

  const props = defineProps({
  groupId: String
});

  const deviceStore = useDeviceStore();


</script>

<template>
    <v-expansion-panels multiple>
      <v-expansion-panel v-for="groupId in deviceStore.groupIds" :key="groupId">
        <v-expansion-panel-title>
            <GroupHeader :groupId="groupId"></GroupHeader>
        </v-expansion-panel-title>
        <v-expansion-panel-text> 
            <DeviceRow v-for="id in deviceStore.getByGroup(groupId)" :key="id" :deviceId="id" />
        </v-expansion-panel-text>
    </v-expansion-panel>
    </v-expansion-panels>

    </template>
<style scoped>
  /* Additional styling if needed */
</style>
