<script setup lang="ts">
  import { computed, ref } from 'vue'
  import { useDeviceStore } from '@/store/DeviceStore';
  import { useMotorCommander } from '@/composables/MotorCommander';
  import type {Ref} from 'vue';

  const props = defineProps({
  groupId: String
});




const deviceStore = useDeviceStore();
const {open, stop, close} = useMotorCommander();


function selectGroup() {
  for (var mqtt_id of deviceStore.getByGroup(props.groupId)) {
      deviceStore.selectDevice(mqtt_id)
    }
}

function deselectGroup() {
  for (var mqtt_id of deviceStore.getByGroup(props.groupId)) {
      deviceStore.deselectDevice(mqtt_id)
    }
}


</script>


<template>
  <v-container class="py-0">
      <v-row class="pa-0" no-gutters align="center">


        <v-col class="px-0" cols="2">
          <v-btn class="mx-2" @click.stop="selectGroup()">
            <v-icon icon="mdi-check"></v-icon
          ></v-btn>

          <v-btn class="mx-2" @click.stop="deselectGroup()">
            <v-icon icon="mdi-cancel"></v-icon
          ></v-btn>
        </v-col>

        <v-col class="px-0 text-h6" cols="1">
            {{ groupId }}
        </v-col>

      </v-row>
  </v-container>
</template>



<style scoped>
  /* Additional styling if needed */
</style>
