<script setup lang="ts">
import { reactive } from 'vue';
import { computed, ref, watch } from 'vue'
import { useDeviceStore } from '@/store/DeviceStore';
import { useLightCommander } from '@/composables/LightCommander';

const props = defineProps({
  deviceId: String
});

const { updateLight } = useLightCommander()
const deviceStore = useDeviceStore();
const light = deviceStore.device_map[props.deviceId!];


    let toPut = reactive({
        "initial_transition": light.initial_transition, 
        "initial_brightness": light.initial_brightness,
        "initial_temperature": light.initial_temperature,
        "default_special_preset":light.default_special_preset,
        "default_preset":light.default_preset
    })


    function validateByteNumber(v:string) {
        let n = parseInt(v)
        if (Number.isNaN(n)) {
            return "Only numbers allowed"

        }
        if (n > 255 || n < 0) {
            return "Must be within 0 and 255"
        }
        return true;
    }

    function validateNumber(v:string) {
        let n = parseInt(v)
        if (Number.isNaN(n)) {
            return "Only numbers allowed"
        }
        return true;
    }


    function validateTransition(v:string) {
        let n = parseInt(v)
        if (n > 65 || n < 0) {
            return "Only values <= 65 allowed"
        }
        return true;
    }
    
    const uploadButtonColor = ref("")

    function pressUpload() {
    updateLight(light.mqtt_id, toPut, 
        (response) => {uploadButtonColor.value = "#4A90E2"; console.log(response); setTimeout(() => uploadButtonColor.value = "", 500)},
        (err) => {uploadButtonColor.value = "#E94E77"; console.error(err); setTimeout(() => uploadButtonColor.value = "", 800)}
        )
}

</script>



<template>


      <v-row class="pa-1">

        <v-col class="pr-1" cols="2" align-self="center">
          <v-icon class="ml-10" color='' icon="mdi-wall-sconce-round" size="large"></v-icon>
        </v-col>

        <v-col class="pr-1" cols="2" align-self="end">
            <v-text-field 
                        v-model="toPut['initial_brightness']" 
                        label="initial brightness" 
                        class="flex-grow-1 mr-2" 
                        variant="solo" 
                        :rules="[validateByteNumber]" />
        </v-col>


        <v-col class="pr-1" cols="2" align-self="end">
            <v-text-field 
                        v-model="toPut['initial_temperature']" 
                        label="initial temperature" 
                        class="flex-grow-1 mr-2" 
                        variant="solo" 
                        :rules="[validateByteNumber]" />
        </v-col>


        <v-col cols="2">
            <v-select click.stop
            label="special preset"
            :items="[2,3,4,5,6,7,8,9,10,11,12]"
            v-model="toPut['default_special_preset']">
                
            </v-select>
        </v-col>

        <v-col cols="2">
            <v-spacer>
                
            </v-spacer>
        </v-col>

        <v-col cols="1">
            <v-btn :color="uploadButtonColor" icon="mdi-upload" @click="pressUpload()">
            </v-btn>
        </v-col>
      </v-row>

</template>