<script setup lang="ts">
  import { computed, ref, watch } from 'vue'
  import { useDeviceStore } from '@/store/DeviceStore';
  import { useLightCommander } from '@/composables/LightCommander'
  import type { Ref } from 'vue';
import { toExpression } from '@babel/types';

const props = defineProps({
  deviceId: String
});


const { activatePreset, deactivatePreset, updateLight } = useLightCommander()

const deviceStore = useDeviceStore();
let deviceId: string;
if (props.deviceId) {deviceId=props.deviceId}
const light = computed(() => deviceStore.device_map[deviceId]);
const marked = deviceStore.isDeviceSelected(light.value.mqtt_id);

const selectedPreset = ref(deviceStore.selectedPresets.get(light.value.mqtt_id))





const handleWheelBrightness = (event: WheelEvent) => {
  let scrollSensitivity = Math.floor(light.value.brightness / 16) + 1
    if (event.deltaY < 0) {
        deviceStore.setBrightness(light.value.mqtt_id, light.value.brightness + scrollSensitivity, 1)
    } else {
        deviceStore.setBrightness(light.value.mqtt_id, light.value.brightness - scrollSensitivity, 1)
    }
    event.preventDefault();
}


const handleWheelTemperature = (event: WheelEvent) => {
    //if (! turned_on.value) { return }
    let scrollSensitivity = Math.floor(light.value.temperature / 16) + 1
    if (event.deltaY < 0) {
      deviceStore.setTemperature(light.value.mqtt_id, light.value.temperature + scrollSensitivity, 1)
    } else {
      deviceStore.setTemperature(light.value.mqtt_id, light.value.temperature - scrollSensitivity, 1)
    }

    event.preventDefault();
}

function selectDevice() {
    if (marked.value) {
      deviceStore.deselectDevice(light.value.mqtt_id)
    } else {
      deviceStore.selectDevice(light.value.mqtt_id)
    }
  }


  const markedColor = computed(() => {
    if (marked.value) {
        return "#293438"
    }
    return ""
  })

  const turnOnColor = computed(() => {
    if (!light.value.turned_on) {
        return "#E94E77"
    }
    return "#4A90E2"
  })

  const get_connected_icon = computed(() => {
        if (light.value.connected) {
            return ['#4A90E2', "mdi-access-point-check"];
        } else {
            return ['#E94E77', 'mdi-access-point-off']
        }

  });

  const specialEffectActiveColor = computed(() => {const selectedPreset = deviceStore.selectedPresets.get(deviceId!)
    if (light.value.preset == 1) { return "" }
    else { return "#E94E77" }
  })

  function clickActivatePreset() {
    
    if (light.value.preset == light.value.default_preset) {
      light.value.preset = selectedPreset.value
      activatePreset(light.value.mqtt_id, light.value.preset)
    } else {
      light.value.preset = light.value.default_preset
      deactivatePreset(light.value.mqtt_id)
    }
  }

  const currentTransitionTimes = computed(() => {
      let times = deviceStore.remainingTransitionTimes.get(light.value.mqtt_id);
      if (!times) { return [0, 0]; }
      if (times[1] === 0 && times[1] === 0) { return " "}
      return times;
    })

watch(selectedPreset, () => deviceStore.selectedPresets.set(light.value.mqtt_id, selectedPreset.value!))

</script>


<template>
  <v-container class="py-1">
    <v-card :color="markedColor" variant="flat">
      <v-row class="pa-1" @click="selectDevice()">

        <v-col class="pr-1 d-flex align-items-center" cols="2" align-self="center">
          <div class="d-flex">
              <v-icon class="px-6" color='' icon="mdi-lightbulb"></v-icon>
              <v-icon class="px-6" :style="{color: get_connected_icon[0]}">{{ get_connected_icon[1] }}</v-icon>
          </div>
          <div class="px-5">
              {{ currentTransitionTimes[1] }}
          </div>
        </v-col>


        <v-col class="px-2" cols="1" align-self="center"> {{ light.group }} </v-col>
        <v-col class="px-2" cols="1" align-self="center"> {{ light.name }} <div style="color:#333;font-size: xx-small;">{{ light.mqtt_id }}</div> </v-col>


          <v-col class="px-1" cols="3" align-self="end">
            <div style="color: #555;">
            {{ Math.floor(100 * light.brightness / 255)}}
          </div>            
          <v-slider class="pt-0" max="255" min="1" 
                    v-model="light.brightness" 
                    :disabled="!light.connected" 
                    @wheel.prevent="(e:WheelEvent) => handleWheelBrightness(e)"
                    @click.stop="deviceStore.setBrightness(light.mqtt_id, light.brightness, 1)"
                    v-bind:style="{ height: '30px' }"
                    prepend-icon="mdi-brightness-7">
                    
          </v-slider>
          </v-col>

        <v-col class="px-1" cols="3" align-self="end">
          <div style="color: #555;">
            {{ Math.floor(100 * light.temperature / 255)}}
          </div>
            <v-slider class="pt-0" max="250" min="3" 
                    v-model="light.temperature" 
                    :disabled="!light.connected" 
                    @click.stop="deviceStore.setTemperature(light.mqtt_id, light.temperature, 1)"
                    @wheel.prevent="(e:WheelEvent) => handleWheelTemperature(e)"
                    v-bind:style="{ height: '30px' }"
                    prepend-icon="mdi-thermometer">
          </v-slider>
        </v-col>

        <v-col class="px-3 text-right" align-self="end" cols="2">
          <v-select
            @click.stop
            bg-color="#212121"
            :items="Array.from({ length: 15 }, (_, i) => i + 2)"
            label=""
            v-model="selectedPreset"
            style="{width: 1px; height: 3px; max-width: 80px; max-height: 1px;}"
          ></v-select>


          <v-btn class="mx-1" @click.stop="clickActivatePreset()" :disabled="!light.connected">
            <v-icon icon="mdi-flash" :color="specialEffectActiveColor"></v-icon
          ></v-btn>
        <v-btn class="mx-1" @click.stop="deviceStore.turn_on_off(light.turned_on, light.mqtt_id)" :disabled="!light.connected">
            <v-icon icon="mdi-power-standby" :color="turnOnColor"></v-icon
          ></v-btn>
        </v-col>

      </v-row>
    </v-card>
  </v-container>
</template>



<style scoped>


</style>
