<script setup lang="ts">
import { reactive } from 'vue';
import { computed, ref, watch } from 'vue'
import { useDeviceStore } from '@/store/DeviceStore';
import { useDeviceCommander } from '@/composables/DeviceCommander';
import { useMotorCommander } from '@/composables/MotorCommander';

const props = defineProps({
  deviceId: String
});


const deviceStore = useDeviceStore();
let deviceId: string;
const motor = deviceStore.device_map[props.deviceId!];
const { updateMotor } = useMotorCommander()


    let toPut = reactive({
        "bottom_timeout": motor.bottom_timeout / 1000,
        "initial_position": motor.initial_position,
        "default_v_closing": motor.default_v_closing,
        "default_v_opening": motor.default_v_opening,
    })


    function validateByteNumber(v:string) {
        let n = parseInt(v)
        if (Number.isNaN(n)) {
            return "Only numbers allowed"
        }
        if (n > 255 || n < 0) {
            return "Must be within 0 and 255"
        }
        return true;
    }

    function validateNumber(v:string) {
        let n = parseInt(v)
        if (Number.isNaN(n)) {
            return "Only numbers allowed"
        }
        return true;
    }

const uploadButtonColor = ref("")

function pressUpload() {
    if (toPut['bottom_timeout']) {
        toPut['bottom_timeout'] = toPut['bottom_timeout'] * 1000
    }

    updateMotor(motor.mqtt_id, toPut, 
        (response) => {uploadButtonColor.value = "#4A90E2"; console.log(response); setTimeout(() => uploadButtonColor.value = "", 500)},
        (err) => {uploadButtonColor.value = "#E94E77"; console.error(err); setTimeout(() => uploadButtonColor.value = "", 800)}
        )
        toPut['bottom_timeout'] = toPut['bottom_timeout'] / 1000
}

</script>



<template>


      <v-row class="pa-1">
        <v-col class="pr-1" cols="2" align-self="center">
          <v-icon class="ml-10" color='' icon="mdi-blinds" size="large"></v-icon>
        </v-col>

        <v-col class="pr-1" cols="2" align-self="center">
            <v-text-field 
                        v-model="toPut['default_v_opening']" 
                        label="default velocity opening (0-255)" 
                        class="flex-grow-1 mr-2" 
                        variant="solo" 
                        :rules="[validateByteNumber]" />
        </v-col>


        <v-col class="pr-1" cols="2" align-self="center">
            <v-text-field 
                        v-model="toPut['default_v_closing']" 
                        label="default velocity closing (0-255)" 
                        class="flex-grow-1 mr-2" 
                        variant="solo" 
                        :rules="[validateByteNumber]" />
        </v-col>

        <v-col class="pr-1" cols="2" align-self="center">
            <v-text-field 
                        v-model="toPut['bottom_timeout']" 
                        label="bottom timeout in seconds" 
                        class="flex-grow-1 mr-2" 
                        variant="solo" 
                        :rules="[validateNumber]" />
        </v-col>
       
        <v-col class="pr-1" cols="2" align-self="center">
            <v-select
                label="initial position"
                :items="['on_top', 'on_bottom']"
                v-model="toPut['initial_position']"
></v-select>
        </v-col>



        <v-col cols="1">
            <v-btn :color="uploadButtonColor" icon="mdi-upload" @click="pressUpload()">

            </v-btn>
        </v-col>

      </v-row>

</template>