<script setup lang="ts">
  import { computed, ref, watch } from 'vue'
  import { useDeviceStore } from '@/store/DeviceStore';
  import { useMotorCommander } from '@/composables/MotorCommander';
  import type { Ref } from 'vue';
  const props = defineProps({
  deviceId: String
});



const deviceStore = useDeviceStore();
let deviceId: string;
if (props.deviceId) {deviceId=props.deviceId}
const motor = computed(() => deviceStore.device_map[deviceId]);
const {open, stop, close} = useMotorCommander();



  const get_status_icon = computed(() => {
        if (motor.value.closing) {
            return ['#4A90E2', "mdi-chevron-double-down"];
        }
            
        if (motor.value.opening) {
            return ['#4A90E2', "mdi-chevron-double-up"];
        }
            
        if (motor.value.on_top) {
            return ['#E94E77', "mdi-arrow-collapse-up"]
        }

        if (motor.value.on_bottom) {
            return ['#E94E77', "mdi-arrow-collapse-down"]
        }

        return ['#E94E77', "mdi-minus"]

  });

  const get_connected_icon = computed(() => {
        if (motor.value.connected) {
            return ['#4A90E2', "mdi-access-point-check"];
        } else {
            return ['#E94E77', 'mdi-access-point-off']
        }

  });

  const marked = deviceStore.isDeviceSelected(motor.value.mqtt_id);

  function selectDevice() {
    if (marked.value) {
      deviceStore.deselectDevice(motor.value.mqtt_id)
    } else {
      deviceStore.selectDevice(motor.value.mqtt_id)
    }
    
  }

  const currentVelocity: Ref<number> = ref(255);
  
    const handleWheelEvent = (event: WheelEvent) => {
    let scrollSensitivity = 255/20
    if (event.deltaY < 0) {
        currentVelocity.value += scrollSensitivity;
    } else {
        currentVelocity.value -= scrollSensitivity;
    }
    event.preventDefault();
}

const markedColor = computed(() => {
    if (marked.value) {
        return "#293438"
    }
    return ""
  })

</script>


<template>
  <v-container class="py-1">
    <v-card :color="markedColor" variant="flat">
      <v-row class="pa-1" @click="selectDevice()" >

        <v-col class="pr-1" cols="2" align-self="end">
            <v-icon class="px-6" icon="mdi-window-shutter"></v-icon>
            <v-icon class="px-6" :style="{color: get_connected_icon[0]}">{{ get_connected_icon[1] }}</v-icon>
            <v-icon class="px-6" :style="{color: get_status_icon[0]}">{{ get_status_icon[1] }}</v-icon>
        </v-col>

        <v-col class="px-2" cols="1" align-self="center"> {{ motor.group }} </v-col>
        <v-col class="px-2" cols="1" align-self="center"> {{ motor.name }} <div style="color:#333;font-size: xx-small;">{{ motor.mqtt_id }}</div> </v-col>

        <v-col class="px-2" cols="2" align-self="end">
          <v-slider class="pt-6" max="255" min="0" 
                    v-model="currentVelocity" 
                    thumb-label
                    :disabled="!motor.connected" 
                    @wheel.prevent="(e:WheelEvent) => handleWheelEvent(e)"
                    @click.stop
                    v-bind:style="{ height: '50px' }"
                    prepend-icon="mdi-speedometer"> 
          </v-slider>
        </v-col>

        <v-col cols="3">
          <v-spacer>
          </v-spacer>
        </v-col>

        
        <v-col class="px-3 text-right" cols="3" align-self="center">

          <v-btn class="mx-1" @click.stop="close(motor.mqtt_id , currentVelocity)" :disabled="!motor.connected">
            <v-icon icon="mdi-arrow-down-thick"></v-icon>
          </v-btn>

          <v-btn class="mx-1"  @click.stop="stop(motor.mqtt_id)" :disabled="!motor.connected">
            <v-icon icon="mdi-stop"></v-icon
          ></v-btn>

          <v-btn class="mx-1" @click.stop="open(motor.mqtt_id , currentVelocity)" :disabled="!motor.connected">
            <v-icon icon="mdi-arrow-up-thick"></v-icon
          ></v-btn>

        </v-col>
        <v-col cols="1">
          <v-spacer>
          </v-spacer>
        </v-col>

      </v-row>
    </v-card>
  </v-container>
</template>



<style scoped>
  /* Additional styling if needed */
</style>
