<script setup lang="ts">
  
  import { useDeviceStore } from '@/store/DeviceStore';
  import { useRecorderCommander } from '@/composables/RecorderCommander';
  import { computed, ref, watch } from 'vue'
  import { useRoute } from 'vue-router';
  import { CountdownTimer, getCurrentDateTime, StopWatch } from '@/composables/CountdownTimer';

  // hide component if not needed
  let route = useRoute()
  let showComponent = computed(() => route.name == 'Devices')

  const { initialState, record, getAllRecordings, stop, play, getCurrentState, playForever,
        deleteRecordings} = useRecorderCommander();
  const deviceStore = useDeviceStore();
  
  const timer = new CountdownTimer(updateClock, () => {}, 0);
  const stopWatch = new StopWatch(updateClock)

  const selectedRecordingIds = ref([] as any);
  getCurrentState().then((r) => {});

  let allRecordings = ref([] as any);
  let recordingName = ref("")
  const recordings_names = computed(() => allRecordings.value.map((e:any) => e.name))

  function getRecordings() {
    getAllRecordings().then(data => allRecordings.value = data)
  }


  function pressRecord(name: string, recordingIds: [number]) {
    if (name === '') {
        name = getCurrentDateTime();
    }
    record(name, recordingIds)
    recordingName.value = "";
  }

  let maxDuration = 0

  function pressPlay(recordings:[number]) {
    if (selectedRecordingIds.value.length < 0) { 
      console.error("No selected recordings...")
    }

    play(selectedRecordingIds.value)
  }


  function clearRecordings() {
    selectedRecordingIds.value = []
  }

  function deleteClearRecordings(selected_recordings: [number]) {
    deleteRecordings(selected_recordings)
    clearRecordings()
}

  const recordingColor = computed(() => deviceStore.applicationState.state == 'RECORDING' ? '#E94E77' : '')
  const playingColor = computed(() => deviceStore.applicationState.state == 'PLAYING_ONCE' ? '#E94E77' : '')
  const initialisingColor = computed(() => deviceStore.applicationState.state == 'INITIALISING' ? '#E94E77' : "")
  const playingForeverColor = computed(() => deviceStore.applicationState.state == 'PLAYING_FOREVER' ? '#E94E77' : '')


/* -------------- TIMER ----------------- */


const prettyTime = ref("")
const duration = ref(0)

function updateClock(minutes:any, seconds:any) {
    if (minutes < 10) { minutes = "0" + minutes}
    if (seconds < 10) { seconds = "0" + seconds}
    prettyTime.value = `${minutes} : ${seconds}`
}


watch(() => deviceStore.applicationState.state, async (newState, oldState) => {
  if (oldState === 'INITIALISING' && ( newState === 'PLAYING_ONCE') ) {
    let current_recordings = selectedRecordingIds.value.map((e:any) => allRecordings.value.filter((r:any) => r.id === e))
    current_recordings = current_recordings.flat(1)
    maxDuration = Math.max(...current_recordings.map((e:any) => e.duration))
    timer.setCountdown(maxDuration)
    timer.start()
  }

  if (oldState === 'INITIALISING' && ( newState === 'RECORDING') ) {
    if (selectedRecordingIds.value.length > 0) {
      let current_recordings = selectedRecordingIds.value.map((e:any) => allRecordings.value.filter((r:any) => r.id === e))
      current_recordings = current_recordings.flat(1)
      maxDuration = Math.max(...current_recordings.map((e:any) => e.duration))
      timer.setCountdown(maxDuration)
      timer.start()    
    } else {
      stopWatch.start()
    }

    
  }

  if (oldState === 'RECORDING' && ( newState === 'FREESTYLE') ) {
      stopWatch.stop()
      stopWatch.timeInSeconds = 0
    
  }
})





</script>



<template hidden>
<div class="d-flex align-center w-75" v-if="showComponent">
    <div>

    </div>

    <v-btn icon @click="deleteClearRecordings(selectedRecordingIds)">
        <v-icon>mdi-delete</v-icon>
    </v-btn>

    <v-btn icon @click="clearRecordings()">
        <v-icon>mdi-cancel</v-icon>
    </v-btn>
    
        <v-select
            v-model="selectedRecordingIds"
            @click="getRecordings()"
            :items="allRecordings"
            item-title="name"
            item-value="id"
            label="Selected Recordings"
            chips
            multiple
            class="h-10"
            persistent-hint
        >

    </v-select>

    <v-text-field 
      v-model="recordingName" 
      label="Recording name" 
      class="flex-grow-1 mr-2" 
      variant="solo"
      @keydown.stop>
    </v-text-field>

    <div>
      {{ prettyTime }}
    </div>

    <v-btn icon :color="recordingColor" @click="pressRecord(recordingName, selectedRecordingIds)">
        <v-icon>mdi-record</v-icon>
    </v-btn>

    <v-btn icon :color="initialisingColor" @click="initialState()">
        <v-icon>mdi-home-variant</v-icon>
    </v-btn>

    <v-btn icon @click="stop()">
        <v-icon>mdi-stop</v-icon>
    </v-btn>

    <v-btn icon :color="playingColor" @click="pressPlay(selectedRecordingIds)">
        <v-icon>mdi-play</v-icon>
    </v-btn>

    <v-btn icon :color="playingForeverColor" @click="playForever(selectedRecordingIds)">
        <v-icon>mdi-sync</v-icon>
    </v-btn>
</div>

    
</template>