<script setup lang="ts">
import { reactive } from 'vue';
import { computed, ref, watch } from 'vue'
import { useDeviceStore } from '@/store/DeviceStore';
import { useSwitchCommander } from '@/composables/SwitchCommander';

const props = defineProps({
  deviceId: String
});


const deviceStore = useDeviceStore();
const switchDevice = deviceStore.device_map[props.deviceId!];
const { updateSwitch } = useSwitchCommander()



let toPut = reactive({
        "initial_turned_on": switchDevice.initial_turned_on ? "on" : "off",
}) as any



const uploadButtonColor = ref("")

function pressUpload() {

    if (toPut.initial_turned_on === 'on') { toPut.initial_turned_on = true}
    if (toPut.initial_turned_on === 'off') { toPut.initial_turned_on = false}

    updateSwitch(switchDevice.mqtt_id, toPut, 
        (response) => {uploadButtonColor.value = "#4A90E2"; console.log(response); setTimeout(() => uploadButtonColor.value = "", 500)},
        (err) => {uploadButtonColor.value = "#E94E77"; console.error(err); setTimeout(() => uploadButtonColor.value = "", 800)}
        )
    
    if (toPut.initial_turned_on) { toPut.initial_turned_on = 'on'}
    if (!toPut.initial_turned_on) { toPut.initial_turned_on = 'off'}
    
}

</script>



<template>


      <v-row class="pa-1">
        <v-col class="pr-1" cols="2" align-self="center">
          <v-icon class="ml-10" color='' icon="mdi-electric-switch" size="large"></v-icon>
        </v-col>

       
        <v-col class="pr-1" cols="2" align-self="center">
            <v-select
                label="initial state"
                :items="['on', 'off']"
                v-model="toPut['initial_turned_on']"
></v-select>
        </v-col>



        <v-col cols="6">
            <v-spacer>
            </v-spacer>
        </v-col>
        <v-col cols="1">
            <v-btn :color="uploadButtonColor" icon="mdi-upload" @click="pressUpload()">

            </v-btn>
        </v-col>

      </v-row>

</template>