
<script setup lang="ts">
  import { computed, ref, watch } from 'vue'
  import { useDeviceStore } from '@/store/DeviceStore';
  import { useLightCommander } from '@/composables/LightCommander'
  import type { Ref } from 'vue';
import { toExpression } from '@babel/types';
import { useSwitchCommander } from '@/composables/SwitchCommander';

const props = defineProps({
  deviceId: String
});


const deviceStore = useDeviceStore();
const { toggle } = useSwitchCommander()
let deviceId: string;
if (props.deviceId) {deviceId=props.deviceId}
const switchDevice = computed(() => deviceStore.device_map[deviceId]);
const marked = deviceStore.isDeviceSelected(switchDevice.value.mqtt_id);



function selectDevice() {
    if (marked.value) {
      deviceStore.deselectDevice(switchDevice.value.mqtt_id)
    } else {
      deviceStore.selectDevice(switchDevice.value.mqtt_id)
    }
  }


const turnOnColor = computed(() => {
    if (!switchDevice.value.turned_on) {
        return "#E94E77"
    }
    return "#4A90E2"
  })

  const markedColor = computed(() => {
    if (marked.value) {
        return "#293438"
    }
    return ""
  })

const get_connected_icon = computed(() => {
        if (switchDevice.value.connected) {
            return ['#4A90E2', "mdi-access-point-check"];
        } else {
            return ['#E94E77', 'mdi-access-point-off']
        }

  });

</script>



<template>
    <v-container class="py-1">
      <v-card :color="markedColor" variant="flat">
        <v-row class="pa-1" @click="selectDevice()">
  
          <v-col class="pr-1 d-flex align-items-center" cols="2" align-self="center">
            <div class="d-flex">
                <v-icon class="px-6" color='' icon="mdi-electric-switch"></v-icon>
                <v-icon class="px-6" :style="{color: get_connected_icon[0]}">{{ get_connected_icon[1] }}</v-icon>
            </div>
          </v-col>
  
  
          <v-col class="px-2" cols="1" align-self="center"> {{ switchDevice.group }} </v-col>
          <v-col class="px-2" cols="1" align-self="center"> {{ switchDevice.name }} <div style="color:#333;font-size: xx-small;">{{ switchDevice.mqtt_id }}</div> </v-col>  
            <v-col class="px-1" cols="3" align-self="end">
            </v-col>
          <v-col class="px-1" cols="3" align-self="end">
          </v-col>
          <v-col class="px-3 text-right" align-self="end" cols="2">
          <v-btn class="mx-1" @click.stop="toggle(switchDevice.mqtt_id)" :disabled="!switchDevice.connected">
              <v-icon icon="mdi-power-standby" :color="turnOnColor"></v-icon
            ></v-btn>
          </v-col>
  
        </v-row>
      </v-card>
    </v-container>
  </template>