
<script setup lang="ts">
  import { useDeviceStore } from '@/store/DeviceStore';
  import { useRecorderCommander } from '@/composables/RecorderCommander';
  import { useAudioCommander } from '@/composables/AudioCommander';
import {ref, computed} from 'vue';


const BACKEND_URL: string = import.meta.env.VITE_APP_BACKEND_URL;


const { initialState, record, getAllRecordings, stop, play, getCurrentState, playForever,
        deleteRecordings, getPlayForever, setPlayForever} = useRecorderCommander();

const {getAvailableSongs,getBackground,setBackground,getForeground,setForeground} = useAudioCommander();

let allRecordings = ref([] as any);
let allSongs = ref([] as any);

const selectedForegroundSongs = ref([] as any);
const selectedBackgroundSong = ref([] as any);
const selectedRecordingIds = ref([] as any);
const foregroundVolume = ref(0)
const backgroundVolume = ref(0)
const activateAtStart = ref(false);
const file = ref<any>(null);
  const uploadBtnColor = ref("")


getPlayForever().then((data) => {
    selectedRecordingIds.value = data.recording_ids
    activateAtStart.value = data.play_forever
})

const recordings_names = computed(() => allRecordings.value.map((e:any) => e.name))

  function getRecordings() {
    getAllRecordings().then(data => allRecordings.value = data)
  }


  function getSongs() {
    getAvailableSongs().then(data => allSongs.value = data.sort())
    getForeground().then(data=> {
      selectedForegroundSongs.value = data.filenames
      foregroundVolume.value = data.volume
    })
    getBackground().then(data=> {
      selectedBackgroundSong.value = data.filename
      backgroundVolume.value = data.volume
    })
  }

  function submitForeground() {
    var foregroundObj = {'filenames': selectedForegroundSongs.value, 'volume':foregroundVolume.value}
    setForeground(foregroundObj)
  }

  function submitBackground() {
    var backgroundObj = {'filename': selectedBackgroundSong.value, 'volume':backgroundVolume.value}
    setBackground(backgroundObj)
  }

  function clearRecordings() {
    selectedRecordingIds.value = []
  }

  getSongs()
  
  const uploadFile = async () => {
      if (!file.value) {
        alert("Please select a file first.");
        return;
      }

      uploadBtnColor.value = "orange"

      let formData = new FormData();
      if (Array.isArray(file.value)) {
        formData.append("file", file.value[0], file.value[0].name);
      } else {
        formData.append("file", file.value, file.value.name);
      }

      try {
        const response = await fetch(`http://${BACKEND_URL}/api/audioplayer/songs`, {
          method: 'PUT',
          body: formData,
        });
        uploadBtnColor.value = "green"
        setTimeout(() => uploadBtnColor.value = "", 800)

      } catch (error) {
        console.error('Error uploading file:', error);
      }
    };

  


</script>


<template>
    <v-row>
      <v-col cols="2">
        <v-spacer></v-spacer>
      </v-col>
    </v-row>
  <v-row>
    <v-col cols="2">
      <v-spacer>

      </v-spacer>
    </v-col>
    <v-col cols="2">
      <v-select
              v-model="selectedRecordingIds"
              @click="getRecordings()"
              :items="allRecordings"
              item-title="name"
              item-value="id"
              label="Selected Recordings"
              chips
              multiple
              class="h-10"
              persistent-hint
          >

      </v-select>
    </v-col>
    <v-col cols="1">
      <v-checkbox v-model="activateAtStart" label="Play eternally at startup"> </v-checkbox>
    </v-col>
    <v-col cols="1">
      <v-btn 
              label="Play eternally at startup"
              @click = "setPlayForever(selectedRecordingIds, activateAtStart)"
              >Send</v-btn>
    </v-col>
  </v-row>


  <v-row>
    <v-col cols="2"><v-spacer></v-spacer></v-col>

    <v-col cols="2">
      <v-select
              v-model="selectedForegroundSongs"
              @click="getSongs()"
              :items="allSongs"
              label="Selected Foreground Songs"
              chips
              multiple
              class="h-10"
              persistent-hint
          >

      </v-select>
    </v-col>
    <v-col cols="1">
      <v-text-field style="width: 150px; height: 40px;" v-model="foregroundVolume" label="Foreground Volume"></v-text-field>
    </v-col>
    <v-col>
      <v-btn @click="submitForeground">
        SEND
      </v-btn>
    </v-col>
    </v-row>
    <v-row>
      <v-col cols="2"><v-spacer></v-spacer></v-col>
    <v-col cols="2">
      <v-select
              v-model="selectedBackgroundSong"
              @click="getSongs()"
              :items="allSongs"
              label="Selected Background Song"
              chips
              class="h-10"
              persistent-hint
          >

      </v-select>
    </v-col>
    <v-col cols="1">
      <v-text-field style="width: 150px; height: 40px;" v-model="backgroundVolume" label="Background Volume"></v-text-field>
    </v-col>
    <v-col>
      <v-btn @click="submitBackground">
        SEND
      </v-btn>
    </v-col>
  </v-row>
  

  <v-row>
    <v-col cols="2"><v-spacer></v-spacer></v-col>
    <v-col cols="2">
    <v-file-input label="Upload Song" 
                  variant="solo-filled"
                  prepend-icon="mdi-music-note-plus"
                  accept=".mp3,.wav"
                  v-model="file"
                  >
                </v-file-input>
              </v-col>
    <v-col cols="1">
      <v-spacer></v-spacer>
    </v-col>
    <v-col cols="2">
      <v-btn :color="uploadBtnColor" @click="uploadFile">
      Upload
    </v-btn>
    </v-col>
    

  </v-row>

  <v-row>
    
  </v-row>

  </template>
