<script setup lang="ts">
import useDeviceStore from '@/store/DeviceStore';
import GroupsRows from '@/components/GroupsRows.vue';
import { useDeviceCommander } from '@/composables/DeviceCommander'


const deviceStore = useDeviceStore();

const { getAllDevices } = useDeviceCommander()

getAllDevices();

</script>


<template>
    <GroupsRows>


    </GroupsRows>

  </template>@/composables/MotorCommander
