
<script setup lang="ts">

import LightDetailsRow from '@/components/LightDetailsRow.vue';
import { useDeviceStore } from '@/store/DeviceStore';
import DeviceDetailsRow from '@/components/DeviceDetailsRow.vue';

const deviceStore = useDeviceStore();



</script>


<template>

    <DeviceDetailsRow v-for="deviceId of Object.keys(deviceStore.device_map)" :deviceId="deviceId" />

</template>
