<script setup lang="ts">

</script>

<template>

    <div class="image-container">    
        <div class="left-aligned-text">
            
            <h1> 
                Eat the rich and open source pharma
            </h1>
            <p>made with luv by <a href="mailto:info@nicolas-welti.ch">Nicolas Welti</a> and <a href="https://www.theaterneumarkt.ch/haus/menschen/kerim-el-mokdad/">Kerim el Mokdad </a></p>
            <p>See <a href="https://gitlab.com/Anarchanas/bigbrothercontainer">the git repo</a> for more infos</p>
        
            <p>
            </p>
            <p>

            </p>
        </div>
            
            

        <!-- <h1> Eat The Rich & Open Source Pharma </h1> -->
    <img src="@/assets/neonlamps.webp" alt="Modern Neon Lamps Destroying Roche Towers">
    <div class="centered-text">

    </div>
  </div>


</template>

<style scoped>

div {
  height: 100vh; /* 100% of the viewport height */
  display: flex; /* Enables flexbox for this container */
  justify-content: left; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  /*margin: 0; /* Removes default margin */
}

img {
  width: auto;
  height: auto;
  position: relative;
}

.centered-text {
  position: relative;
  color: black; /* Choose color that stands out */
  font-size: 300%; /* Adjust size as necessary */
  text-align: center;

}
.left-aligned-text {
    background: #000; /* Background color for the text box */
  padding: 20px; /* Padding around the text */
  margin-right: 20px; /* Space between the text box and the image */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for better separation */
  display: block;
  max-width: 300px; /* Maximum width of the text box */
}
p {
    margin: 0 0 30px; /* Adds spacing between paragraphs and resets any side margins */
  display: block; /* Ensures each paragraph is a block element, which should stack vertically */  
}

</style>